.edit{
    background-color: #101821;
}
.edit-warp{
    padding: 0 10px;
    box-sizing: border-box;
}
.ava-box{
    color: #cccccc;
    text-align: center;
    padding: 20px;
}
.avatar{
    position: relative;
}
.avatar img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}
.avatar span{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    font-size: 30px;
    line-height: 100px;
    color: #fff;
}
.avatar input{
    display: none;
}
.ava-box p{
    color: #fff;
    font-size: 14px;
    margin: 0;
}
.edit-box{
    border-top: #292831 solid 1px;
    color: #ccc;
}
.edit-item{
    display: flex;
    justify-content: space-between;
    line-height: 60px;
}
.edit-item .label{
    color: #ffffff;
}
.edit-item .icon{
    margin-left: 10px;
}